*{
    font-family: 'Poppins', sans-serif;
}
.banner-height img{
    max-height: 80vh;
    filter: brightness(50%);
    
}
.register-height{
    height: 300px;
}
.bg-color{
    background-color: #F4FAFD;
}


 @media only screen and (max-width:767px) {
    .banner-height img{
    height: 400px;
    max-height: 100%;
    }
    .course-img img{
        width: 100%;
    }
}


